@tailwind base;
@tailwind components;
@tailwind utilities;

.main-swiper {
  width: 65% !important;
  margin: auto !important;
  padding: 8rem 0 !important;
}

.data-swiper-slider {
  background-position: center !important ;
  background-size: cover !important;
  width: 350px !important;
  height: 350px !important;
}

.swiper-image {
  display: block !important;
  width: 100% !important;
}
.ucnokta {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.compareAktif{
  color: green;
}
.comparedelet{
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background: rgb(238, 106, 106);
}